@import url(navbar.css);

#footer-home {
  background: #242729;
}

#header-home {
  background: #20B2AA;
  margin: 0;
  padding: 6em 0;
}

#header-name {
  font-size: 4em;
  color: #FFF;
  margin: 0;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}

a {
  color: #FFF;
  transition: all .3s ease-in-out;
}

a:active, a:focus, a:hover, .btn.focus, .btn:focus, .btn:hover {
  color: #20B2AA;
  background: #FFF;
}

.btn-social {
  display: inline-block;
  border: 0.1em solid #FFF;
  border-radius: 100%;
  text-align: center;
  font-size: 1.425em;
  line-height: 2.4em;
  width: 2.5em;
  height: 2.5em;
}

#youtube {
  width: 800px;
  height: 450px;
  margin: 0 auto;
}

section:nth-child(even) {
  background: #20B2AA;
}

#education {
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  background: #DA291C; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #DA291C, #FFF, #002A5C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #DA291C, #FFF, #002A5C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #DA291C, #FFF, #002A5C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom #DA291C, #FFF, #002A5C); /* Standard syntax (must be last) */
}

/* Phones and Tablets */
@media screen and (max-width: 800px) {
  #header-home {
    padding: 16vw 0;
  }

  #header-name {
    font-size: 10vw;
  }

  .btn-social {
    border: 0.7vw solid #FFF;
    font-size: 5vw;
    line-height: 9vw;
    width: 10vw;
    height: 10vw;
  }

  #youtube {
    width: 100%;
    height: 56.25vw;
  }

  #education {
    font-size: 2.5vw;
  }
}
