@import url(navbar.css);

#footer-home {
  background: #242729;
}

#header-home {
  background: #20B2AA;
  margin: 0;
  padding: 6em 0;
}

#header-name {
  font-size: 4em;
  color: #FFF;
  margin: 0;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}

a {
  color: #FFF;
  transition: all .3s ease-in-out;
}

a:active, a:focus, a:hover, .btn.focus, .btn:focus, .btn:hover {
  color: #20B2AA;
  background: #FFF;
}

.btn-social {
  display: inline-block;
  border: 0.1em solid #FFF;
  border-radius: 100%;
  text-align: center;
  font-size: 1.425em;
  line-height: 2.4em;
  width: 2.5em;
  height: 2.5em;
}

#youtube {
  width: 800px;
  height: 450px;
  margin: 0 auto;
}

/* Phones and Tablets */
@media screen and (max-width: 800px) {
  #header-home {
    padding: 16vw 0;
  }

  #header-name {
    font-size: 10vw;
  }

  .btn-social {
    border: 0.7vw solid #FFF;
    font-size: 5vw;
    line-height: 9vw;
    width: 10vw;
    height: 10vw;
  }

  #youtube {
    width: 100%;
    height: 56.25vw;
  }
}
